 
 :root{

    /*colores*/
     --Yellow: hsl(47, 88%, 63%);
     --White: hsl(0, 0%, 100%) ;
     --Gray500: hsl(0, 0%, 42%) ;
     --Gray950: hsl(0, 0%, 7%);
 }

body {
    background-color: var(--Yellow);
    background-size: cover;
    font-size: 11px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Figtree';
    padding-bottom: 60px;
    height: 100vh;
        /* Espacio para el footer */
   
}


h1 {
    font-weight: 800;
   
}

p {
    font-size: 16px;
    font-weight: 500;
    
}

a {
    color: hsl(228, 45%, 44%)
}

.card {
    background-color: var(--White);
    border: solid;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.9);
    max-width: 375px;
    margin: 0 auto;
}

.imagen {
    margin: 20px;
    border-radius: 5%;
}

.letras {
    margin-left: 20px;
    text-align: left;
}

.button {
    background-color: var(--Yellow);
    border-radius: 10%;
    width: 80px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
    font-weight: 800;
    text-align: center;
    
}
.published {
    color: var(--Gray950);
}

.descripcion {
    color: var(--Gray500);
}

.author {
    display: flex;
    margin: 25px 20px;
    align-items: center;
    
}

.avatar {
    max-width: 10%;
    max-height: 10%;
}

.greg {
    font-weight: 800;
    margin-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;

}